# 0. Setup

### Import packages

In [8]:
import pandas as pd

### Loading data

In [15]:
aisles = pd.read_csv('aisles.csv')
departments = pd.read_csv('departments.csv')
orders = pd.read_csv('orders.csv')
products = pd.read_csv('products.csv')
order_products_prior = pd.read_csv('order_products__prior.csv')
order_products_train = pd.read_csv('order_products__train.csv')

In [58]:
dataset = {'aisles' : aisles, 'departments' : departments, 'orders' : orders, 'products' : products, 'order_product_prior' : order_products_prior, 'order_products_train' : order_products_train}

# 1. Exploratory analysis

In [65]:
# Overview
df_shapes = pd.DataFrame(columns = ['Dataset', 'Row count', 'Col count','Total null count'])
for n, d in dataset.items():
    df_shapes.loc[len(df_shapes)] = [n, d.shape[0], d.shape[1], d.isna().sum().sum()]
df_shapes

                Dataset  Row count  Col count  Total null count
0                aisles        134          2                 0
1           departments         21          2                 0
2                orders    3421083          7            206209
3              products      49688          4                 0
4   order_product_prior   32434489          4                 0
5  order_products_train    1384617          4                 0

### Aisles

Column containing 134 names of aisles

In [48]:
aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation